.charts{
    min-height: 100vh;
    background-color: #262B37;
    display: grid;
    place-content: center;

    &__wave-container-top{
        transform: rotate(180deg);
    }



    &__container{
        text-align: center;
        color: #fff;
        margin: 15em 0;
        &-content{
            margin-bottom: 7em;
            h1{
                font-size: 2.5rem;
                font-weight: 700;
            }

            p{
                line-height: 28px;
                
            }
        }

        &-mockup{
            .mockup-mobile{
                display: none;
            }
        }
    }

    &__wave-container{
        position: relative;
        img{
            position: absolute;
        }
    }
}

@media only screen and (max-width: 768px){

    .charts{

        &__container{
            margin: 8rem 0;
        }

        &__container-mockup{

            .mockup-desktop{
                display: none;
            }

            .mockup-mobile{
                display: block;
                width: 80%;
                margin: 0 auto;
            }
        }


        &__wave-container{
            display: none;
        }
    }
}