.dark__mode{
    position: relative;
    border: 3px solid red;

    &-wave-container-top{
        transform: rotate(180deg);
    }

    &-components{
        background-color: #111;
    }

    &-wave-container{
        position: relative;
        img{
            position: absolute;
        }
    }


}