.dark__mode{
    position: relative;
    

    &-wave-container-top{
        transform: rotate(180deg);
    }

    &-components{
        background-color: #111;
    }

    &-wave-container{
        position: relative;
        img{
            position: absolute;
        }
    }


}

@media only screen and (max-width: 768px){

    .dark__mode{
        position: relative;
    
        &-wave-container-top{
            transform: rotate(180deg);
            display: none;
        }
    
        &-components{
            background-color: #111;
            width: 180%;
            transform: translateX(-100px);

            img{
                
                padding: 20px 0;
                max-height: 450px;
                overflow: hidden;
            }
        }
    
        &-wave-container{
            display: none;
        }
    
    
    }
}