@use '../abstracts/colors';


    header{
        background-color: var(--darkColor);
        color: var(--whiteColor);
        font-weight: 700;
        position: fixed;
        width: 100%;
        z-index: 10;
        nav{
            display: flex;
            padding-top: 1.3125em;
            padding-bottom: 1em;

            a{
                color: white;
                text-decoration: none;
                user-select: none;
            }

            .logo{
                display: flex;
                align-items: center;


                span{
                    font-size: 1rem;
                   
                }
            }

            .list-items{
                display: flex;
                align-items: center;
                margin-left: auto;
                
                
                ul{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    a{
                        text-decoration: none;
                        color: white;
                    }

                    li + li{
                        margin-left: 1.875em;
                    }

                    li{
                        user-select: none;

                        &:hover{
                            color: var(--primaryColor);
                            cursor: pointer;
                            transition: all .35s ease;
                            
                        }
                    }

                   
                }

                a{
                    user-select: none;
                    margin-left: 3.3125em;
                }
            }
        }
    }

    .active{
        color: var(--primaryColor);
    }