@use '../abstracts/colors';


    header{
        background-color: var(--darkColor);
        color: var(--whiteColor);
        font-weight: 700;
        position: fixed;
        width: 100%;
        z-index: 30;
    
        nav{
            display: flex;
            align-items: center;
            padding-top: 1.3125em;
            padding-bottom: 1em;

            a{
                color: white;
                text-decoration: none;
                user-select: none;
                z-index: 12;
                
            }

            .logo{
                display: flex;
                align-items: center;
               
                

                span{
                    font-size: 1rem;
                   
                }
            }

            .hamburguer{
                width: 28px;
                height: 16px;
                display: none;
                align-items: center;
                position: relative;
                cursor: pointer;
                margin-left: auto;

                &__menu{
                    width: 100%;
                    height: 3px;
                    background-color: white ;
                    position: absolute;
                    z-index: 11;
                    transition: all .5s ease-in-out;

                    &::before, &::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        background-color: #fff ;
                        transition: all .5s ease-in-out;
                    }

                    &::before{
                        transform: translateY(8px);
                    }

                    &::after{
                        transform: translateY(-8px);
                    }

                  

                }

                
            }
                
                
                .nav-links{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-left: auto;
                    
                    
                    a{
                        text-decoration: none;
                        color: white;
                        margin-left: 3.3125em;
                        user-select: none;
                    }

                   

                    li{
                        user-select: none;

                        &:hover{
                            color: var(--primaryColor);
                            cursor: pointer;
                            transition: all .35s ease;
                            
                        }
                    }

            
                }

                
            }
        }

    .active{
        color: var(--primaryColor);
    }

    @media only screen and (max-width: 768px){

        header{
            background-color: var(--darkColor);
            color: var(--whiteColor);
            font-weight: 700;
            position: fixed;
            width: 100%;
            z-index: 30;
           

            nav{
                display: flex;
                align-items: center;
                padding-top: 1.3125em;
                padding-bottom: 1em;
                border: 3px solid red;
    
                a{
                    color: white;
                    text-decoration: none;
                    user-select: none;
                
                }
    
                .logo{
                    display: flex;
                    align-items: center;
                    
    
                    span{
                        font-size: 1rem;
                       
                    }
                }
    
                .hamburguer{
                    display: flex;
                    cursor: pointer;
                }
               
                    
                    
                    .nav-links{
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        left: 0;
                        z-index: 10;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #23292E;
                        transition: top 1s ease;
                        display: none;
                        

                        a {
                            text-decoration: none;
                            color: white;
                            margin-right: auto;
                            margin-top: 35px;
                            margin-left: 40px;
                            user-select: none;
                        }

                       
    
    
                        li{
                            user-select: none;
                            font-size: 42px;
    
                            &:hover{
                                color: var(--primaryColor);
                                cursor: pointer;
                                transition: all .35s ease;
                                
                            }
                        }
    
                        .btn-nav{
                            width: 80%;
                            text-align: center;
                            font-size: 19px;
                        }
                       
                    }
    
                    
                }

                .active{
                    color: var(--primaryColor);
        
                    &::after{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 3px;
                        bottom: 0;
                        left: 0;
                        background-color: var(--primaryColor);
                        transition: all 0.5s ease;
                    }
                }


                /*animation*/

                .hamburguer.open .hamburguer__menu{
                    transform: translateX(-50px);
                    background: transparent;
                    box-shadow: none;
                }
                
                .hamburguer.open .hamburguer__menu::before{
                 transform: rotate(45deg) translate(35px, -35px) ;
                }
                
                .hamburguer.open .hamburguer__menu::after{
                    transform: rotate(-45deg) translate(35px, 35px);
                }

            }
    
        
    }
