@use '../abstracts/colors' as * ; 

.faixa{
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
    z-index: 20;
}


.homepage{
    background-color: var(--primaryColor);
    min-height: 100vh;
    color: var(--whiteColor);
   // padding-top: 240px;
    &__row{
       
        display: flex;
        align-items: center;
        justify-content: space-between;
        //height: 100vh;
        .homepage__col{
            width: 50%;
            border: 3px solid red;
            //min-height: 100vh;
            &-img{
                display: none;
            }
    
            &-intro{
                h1{
                    font-size: 2.5rem;
                    font-weight: 700;
                }
    
                p{
                    font-weight: 500;
                    line-height: 28px;
                    margin-bottom: 3.5em;
                    margin-top: 2.2em;
                }

                
            }
    
            &-cta{
                a{
                    user-select: none;
                    
                }
    
                .cta-secondary{
                    margin-left: 1.5em;
                }
            }
    
            &-info{
                display: flex;
                align-items: center;
                font-weight: 700;
    
                &-screen{
                    h2{
                        font-size: 2.5rem;
    
                    }
    
                    span{
                        font-size: 1.5rem;
                    }
    
                }
    
                &-components{
                    margin-left: 2.625em;
    
                    h2{
                        font-size: 2.5rem;
    
                    }
    
                    span{
                        font-size: 1.5rem;
                    }
    
                   
                }
            }
    
            &-figma{
                p{
                    margin-bottom: 1em;
                }
    
                img{
                    
                    margin: -8px 0 0 -17px;
                }
            }
    
            .health-components{
                overflow: hidden; 
            }
        }

    }

    

}

[class^="homepage__col-"]{
    margin-bottom: 2.1875em;
}


@media only screen and (max-width: 768px){
    .faixa{
        display: none;
    }
    
    
    .homepage{
        background-color: var(--primaryColor);
        //height: 100vh;
        color: var(--whiteColor);
        padding-top: 8em;
        border: 3px solid green;

        &__row{
            display: block;
            //height: 100vh;
            
            
            .homepage__col{
                
                
                min-width: 100%;
                //width: 100%;
               

                &-img{
                    display: block;
                    
                }

                &-intro{
                    h1{
                        font-size: 2.5rem;
                        font-weight: 700;
                    }
        
                    p{
                        font-weight: 500;
                        line-height: 28px;
                        padding-bottom: 1.4375em;
                        padding-top: 0.5625em;
                        width: 100%;
                        border: 3px solid blue;
                    
                    }
    
                    
                }
        
                &-cta{
                    white-space: nowrap;
                    a{
                        user-select: none;
                        
                        
                    }
        
                    .cta-secondary{
                        margin-left: 0.7em;
                    }
                }
        
                &-info{
                    display: none;
                }

                &-figma{
                    
                    p{
                        display: none;
                        margin-bottom: 1em;
                    }
        
                    img{
                        display: none;
                        margin: -8px 0 0 -17px;
                    }
                }
        
        
               
            }

            .homepage__col-two{
                display: none;
                width: 0;
            
            }

            
    
        }
    
        
    
    }
}