.faixa{
    width: 100%;
    height: 100px;
    background-color: white;
}


.homepage{
    background-color: var(--primaryColor);
    height: 100vh;
    position: relative;
    z-index: -10;
    color: var(--whiteColor);

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        .homepage__col{
            max-width: 50%;
    
            &-intro{
                h1{
                    font-size: 2.5rem;
                    font-weight: 700;
                }
    
                p{
                    font-weight: 500;
                    line-height: 28px;
                    margin-bottom: 3.5em;
                    margin-top: 2.2em;
                }
            }
    
            &-cta{
    
                .cta-secondary{
                    margin-left: 1.5em;
                }
            }
    
            &-info{
                display: flex;
                align-items: center;
                font-weight: 700;
    
                &-screen{
                    h2{
                        font-size: 2.5rem;
    
                    }
    
                    span{
                        font-size: 1.5rem;
                    }
    
                }
    
                &-components{
                    margin-left: 2.625em;
    
                    h2{
                        font-size: 2.5rem;
    
                    }
    
                    span{
                        font-size: 1.5rem;
                    }
    
                   
                }
            }
    
            &-figma{
                p{
                    margin-bottom: 1em;
                }
    
                img{
                    
                    margin: -8px 0 0 -17px;
                }
            }
    
            .health-components{
                overflow: hidden; 
            }
        }

    }

    

}

[class^="homepage__col-"]{
    margin-bottom: 2.1875em;
}

//homepage__col