.product__buy{
    display: grid;
    place-content: center;
    min-height: 100vh;

    &-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -300px;

        h1{
            font-size: 4.5rem;
            font-weight: 700;
            margin-top: -0.74em;
        }
        
    }
}

.wave-container-product{
    position: relative;


    img{
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.product{
    min-height: 20vh;
    background-color: #F7FAFE;
    display: grid;
    place-content: center;
    text-align: center;
    position: relative;

    &__buy{

        &-mockup{
            position: relative;
            margin-top: -550px;
            @media only screen and (max-width: 1400px){
                margin-top: -250px;
            }
        }
    }
    
    


    &-content{
       

        a{
            color: #8883F0;
            font-size: 4.5rem;
            margin-bottom: 0.6em;
            font-weight: 700;
        }

        p{
            color: #8883F0;
            font-size: 1.4rem; 
        }
    }

    .message-footer{
        color: #95989D;
        font-size: 1.25rem;

        a{
            color: #95989D;
        }
    }
}