

    .cta-primary{
       
        font-size: 15px;
        padding: 0.6875em 3.2875em;
        background-color: white;
        color: #23292E;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        border-radius: 188px;
        cursor: pointer;
        border: none;
    }

    .cta-secondary{
       
        font-size: 14px;
        padding: 0.6875em 3.2875em;
        background-color: #8883F0;
        color: #fff;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        border-radius: 188px;
        cursor: pointer;
        border: 2px solid hsla(0, 0%, 100%, 1);
    }