*{
    --darkColor: #23292E;
    --primaryColor: #8883F0;
    --grayColor: #95989D;
    --bgHealth: #EF8481;
    --bgEvents: #262B37;
    --bgTickets: #111111;
    --bgContact: #F7FAFE;
    --whiteColor: #FFFFFF;
}
  


.container-l{
    max-width: 1400px;
    margin: 0 auto;

    @media only screen and(max-width: 1700px){
        max-width: 1180px;
        margin: 0 auto;
    }

    @media only screen and(max-width: 768px){
        max-width: 311px;
        margin: 0 auto;
    }
}

.wave-container-top{
    transform: rotate(180deg);
    margin-top: 10em;
    //border: 1px solid blue;
   

    img{
        position: relative;
        left: 3px;
        bottom: 1px;
        width: 100vw;
    }

    
    @media only screen and(max-width: 768px){
       display: none;
    }
}